/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif; /* Ensure this font matches About Us Page */
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 1rem;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    color: var(--nav-link-color);
}

.nav-links li a:hover,
.nav-links li a.active {
    color: #FF4C4C;
}

.nav-links li a.active::after,
.nav-links li a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #FF4C4C;
    transition: width 0.3s ease-in-out;
}

.nav-buttons .btn {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 20px;
    color: #fff;
    font-size: 1rem;
    margin-left: 0;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.nav-buttons .btn:hover {
    background: #FF4C4C;
    border-color: #FF4C4C;
    transform: scale(1.05);
}

#profileImage {
    float: right;
    position: relative;
    top: 10px;
}

#basketImage {
    float: right;
    position: relative;
    top: 10px;
    padding-left: 40px;
}

/* Displaying the Details section */

body{
    margin: 0;
    overflow-x: hidden;
    background-color: #111111;
}

.userDetails {
    color: whitesmoke;
    width: 100%;
    min-height: 90vh;

    h1 {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .detailsContainer {
        width: 100%;
        max-width: 850px;
        margin: auto;
        padding: 20px;

        h2 {
            color: red;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 20px;
            border-top: 2px solid red;
        }

        .details {
            width: 100%;
            padding-top: 10px;
            margin-bottom: 20px;

            p {
                border: none;
                background-color: #232323;
                padding: 10px;
            }
        }

        .detailsPass {
            .changePword {
                display: grid;
                max-width: 400px;
                width: 100%;
                margin: 30px auto;
                float: left;
                height: 25%;
                gap: 3px;

                #submit {
                    padding: 3%;
                    color: whitesmoke;
                    background-color: red;
                }
            }
        }
    }

}
