:root {
    --base-color: #f4f4f4;
    --base-variant: #e8e9ed;
    --text-color: #333;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #ff4747;
    --nav-link-color: white;
    --input-bg: #ffffff;
    --input-focus-bg: #ffcccc;
    --header-border: red;

}


.darkmode {
    --base-color: #111111;
    --base-variant: #232323;
    --text-color: whitesmoke;
    --secondary-text: #a4a5b8;
    --primary-color: #f1f1f3;
    --accent-color: #ff4747;
    --nav-link-color: white;
    --input-bg: #232323;
    --input-focus-bg: darkred;
    --header-border: red;

}

button {
    border: none;
    padding: .6em 2em;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.cta-button {
    background-color: var(--accent-color);
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20%;
    transform: translateY(-50%);
}


#theme-switch svg {
    fill: var(--primary-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}



/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif; /* Ensure this font matches About Us Page */
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 1rem;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    color: var(--nav-link-color);
}

.nav-links li a:hover,
.nav-links li a.active {
    color: #FF4C4C;
}

.nav-links li a.active::after,
.nav-links li a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #FF4C4C;
    transition: width 0.3s ease-in-out;
}

.nav-buttons .btn {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 20px;
    color: #fff;
    font-size: 1rem;
    margin-left: 0;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.nav-buttons .btn:hover {
    background: #FF4C4C;
    border-color: #FF4C4C;
    transform: scale(1.05);
}

#profileImage {
    float: right;
    position: relative;
    top: 10px;
}

#basketImage {
    float: right;
    position: relative;
    top: 10px;
    padding-left: 40px;
}

/* Account Details page */
body{
    margin: 0;
    overflow-x: hidden;
    background-color: var(--base-color);
    color: var(--text-color);
}

.userDetails {
    color: var(--text-color);
    width: 100%;
    min-height: 90vh;

    h1 {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .detailsContainer {
        width: 100%;
        max-width: 850px;
        margin: auto;
        padding: 20px;

        h2 {
            color: red;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 20px;
            border-top: 2px solid var(--header-border);
            padding-top: 10px;
        }

        .user {
            width: 100%;
            margin-bottom: 20px;

            .details {
                display: grid;
                width: 100%;
                margin: 30px auto;
                float: left;
                height: 25%;
                gap: 3px;
                border: none;
                padding: 10px;
                font-size: 18px;

                input {
                    color: var(--text-color);
                    background-color: var(--input-bg);
                    max-width: 100%;
                    height: 35px;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    transition-property: border-bottom;
                    transition: background-color;
                    transition-duration: 0.3s;
                    transition-delay: 0s;
                }

                input:focus {
                    background-color: var(--input-focus-bg);
                    border-bottom: 3px solid var(--header-border);
                }

                #userStatus {
                    color: var(--text-color);
                    background-color: var(--input-bg);
                    max-width: 100%;
                    height: 35px;
                    font-size: 16px;
                    border: none;
                    outline: none;
                }

                .updateButton {
                    display: grid;
                    width: auto;
                    height: fit-content;

                    #submitButton {
                        position: relative;
                        border: none;
                        padding: 10px;
                        color: whitesmoke;
                        background-color: red;
                        font-size: 20px;
                        text-align: center;
                        border-radius: 5px;
                        transition: 0.3s;
                    }

                    #submitButton:hover {
                        background-color: darkred;
                    }
                }
            }
        }
    }
}
#loginButton {
    background-color: #2b2a2a;
    color: white ;
    border: 2px solid #000000 ;
    transition: all 0.3s ease-in-out;
}

