:root {
    --base-color: whitesmoke;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --nav-link-color: white;
}

.darkmode {
    --base-color:#222020;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #aea5a5;
    --primary-color: #373b47;
    --accent-color: #0071ff;
    --nav-link-color: white;
}


/* General Styles */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--base-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    padding: .8em 2em;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.cta-button {
    background-color: var(--accent-color);
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 17%;
    transform: translateY(-50%);
}


#theme-switch svg {
    fill: var(--primary-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}



/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 1rem;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    color: var(--nav-link-color);
}

.nav-links li a:hover,
.nav-links li a.active {
    color: #FF4C4C;
}

.nav-links li a.active::after,
.nav-links li a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #FF4C4C;
    transition: width 0.3s ease-in-out;
}

.nav-buttons .btn {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 20px;
    color: #fff;
    font-size: 1rem;
    margin-left: 0px;
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background: transparent;


}

.nav-buttons .btn:hover {
    background: #FF4C4C;
    border-color: #FF4C4C;
    transform: scale(1.05);
}

.nav-buttons{
    display: flex;

}


#profileImage {
    float: right;
    position: relative;
    top: 10px;
}

#basketImage{
    float: right;
    position: relative;
    top: 10px;
    padding-left: 40px;
}

#BlackSuzuki{
    float:left;
    padding-right:30px;
}

#BrumBrummLogo{
    float: left;
    margin-top: 30px;
    padding-bottom: 70px;
    height: 400px
}

#RedMerc{
    float:right;
}

.SloganHomePage p{
    text-align: center;
    align-items: center;
    justify-content: center;
}

#YourTimeIsValuable{
    align-content: center;
    font-size:140%;
    font-family: 'Segoe UI Black', serif;
    margin-bottom: -50px;
}
#FindYourDesiredVehicleOnline{
    align-content: center;
    font-size:300%;
    font-family: 'Segoe UI Black', serif;
    color:gray;
    margin-bottom: -10px;
}
#OnlineWord{
    align-content: center;
    font-size: 105%;
    font-family: 'Segoe UI Black', serif;
    color:red;
    margin-bottom: -20px;
}
#AndSkipTheWaitAtTheDealership{
    align-content: center;
    font-size:140%;
    font-family: 'Segoe UI Black', serif;
    padding-bottom: 50px;
}


#VERYFAST{
    color: white;
    padding-top: 10px;
    font-size: 30px;
    font-family: "Segoe UI Black";

}
#VERYSIMPLE{
    color: red;
    padding-left: 10px;
    font-family: "Segoe UI Black";
}
.ColourSectionHomePage{
    background-color: black;
    display:flex;
    flex-direction: column;
    align-content: center;
    text-align: center;

}
.ColourSectionHomePageContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}
.step{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.step img{
    width: 40px;
    height: 40px;
}
.step p{
    margin: 10px 0 3px 0;
    font-size: 15px;
    -webkit-text-stroke: 0.7px black;
    color: white;
    font-family: 'Segoe UI Black', serif

}

#FindYourBrumBrumm{
    text-align: center;
    font-family: 'Segoe UI Black', serif;
}


.CheckOutMoreButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
#CheckOutMoreButton{
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', serif;
    font-size:25px;
    padding: 22.5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

#CheckOutMoreButton:hover{
    background-color:black;
    color: #FF4C4C;
    border-color: #FF4C4C;
    transform: scale(1.06);
    text-decoration: none;
}
#CheckOutMoreButton::after{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 0;
    height: 3px;
    background: #FF4C4C;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}
#CheckOutMoreButton:hover::after{
    width: 100%
}

.homepageDiv{
    display: table-row;
}

.ColourSectionHomePageContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}






.imageContainer{
    margin-bottom: -100px;
}

.imageContainer, .carsRandom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

    h1{
        font-family: "Segoe UI Black";
    }
}
.imageContainer img {
    flex: 1;
    max-width: calc(33.3% - 20px);


}

@media (max-width: 770px) {
    #navbar, .SloganHomePage, .homepageDiv {
        flex-direction: column;
        align-items: center;
    }

    #navbar a {
        margin: 10px 0;
    }

    .ColourSectionHomePageContainer,
    .imageContainer,
    .carsContainer {
        max-width: 90%;
        flex-direction: column;
        align-items: center;
    }
}

.contactUsHomePage{
    overflow: hidden;
    background-color: black
}
.contactUsHomePage img{
    float: left;
    padding-right: 40px;
    margin-left: 150px;
    max-width: 30%;
    height: auto;
    display: block;
    margin-top: 20px;
}
.contactUsHomePage .text{
    margin-right: 150px;
    color: white;
}
.contactUsHomePage #title {
    font-family: 'Segoe UI Black', sans-serif;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.contactUsHomePage #paragraph{
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contactUsHomePageButtonContainer{
    display: flex;
    justify-content: CENTER;
    margin: 20px 0;
    margin-right: 170px;
}
#contactUsHomePageButton{
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    font-size:25px;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}
#contactUsHomePageButton:hover{
    background-color:white;
    color: #FF4C4C;
    border-color: #FF4C4C;
    transform: scale(1.06);
    text-decoration: none;
}
#contactUsHomePageButton::after{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 0;
    height: 3px;
    background: #FF4C4C;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}
#contactUsHomePageButton:hover::after{
    width: 100%
}

.footer {
    background: #1e1e1e;
    color: #777;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    border-top: 1px solid #333;
    margin: -10px;
}
@media (max-width: 770px) {
    #navbar, .SloganHomePage, .homepageDiv, .contactUsHomePage {
        flex-direction: column;
        align-items: center;
    }
    #navbar a {
        margin: 10px 0;
    }
    .ColourSectionHomePageContainer,
    .imageContainer,
    .carsContainer,
    .contactUsHomePageButton{
        max-width: 90%;
        flex-direction: column;
        align-items: center;
    }}

.successmessage{
    text-align: center;
    width: 100%;
}


