:root {
    --base-color: #f4f4f4;
    --base-variant: #e8e9ed;
    --text-color: #333;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #ff4747;
    --nav-link-color: white;
}

.darkmode {
    --base-color: #222020;
    --base-variant: #3d3d40;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #f1f1f3;
    --accent-color: #ff4747;
    --nav-link-color: white;
}

button {
    border: none;
    padding: .6em 2em;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.cta-button {
    background-color: var(--accent-color);
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 10%;
    transform: translateY(-50%);
}


#theme-switch svg {
    fill: var(--primary-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}


/* LOGIN PAGE CODE */
body {
    background-color: var(--base-color);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: var(--text-color);
}

.login-container {
    background: var(--base-variant);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary-text);
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

/* REGISTER PAGE CODE */
.formContainer {
    background: var(--base-variant);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

/* STYLES THAT ARE ON BOTH PAGES */
#submit {
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
}

#submit:hover {
    background-color: #c80000;
    color: white;
}

#additional-links {
    margin-top: 15px;
    text-align: center;
}

#additional-links a {
    color: var(--accent-color);
    text-decoration: none;
    margin: 0 10px;
}

#additional-links a:hover {
    text-decoration: underline;
    color: #c80000;
}
