/* LOGIN PAGE CODE */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.login-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

button {
    background: #d43f37;
    color: #ffffff;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #e63946;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.additional-links {
    margin-top: 15px;
    text-align: center;
}

.additional-links a {
    color: #e63946;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.additional-links a:hover {
    text-decoration: underline;
}

/* REGISTER PAGE CODE */
#submit {
    background-color: red;
    color: white;
}
