:root {
    --base-color: #f4f4f4;
    --base-variant: #e8e9ed;
    --text-color: #333;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #ff4747;
    --nav-link-color: white;
    --box-bg-color: #ffffff;
    --inner-color: #e8e9ed;
    --cbutton-bg: black;



}

.darkmode {
    --base-color: #222020;
    --base-variant: #3d3d40;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #f1f1f3;
    --accent-color: #ff4747;
    --nav-link-color: white;
    --box-bg-color: #232323;
    --inner-color: #333232;
    --cbutton-bg: white;




}

button {
    border: none;
    padding: .6em 2em;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.cta-button {
    background-color: var(--accent-color);
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20%;
    transform: translateY(-50%);
}


#theme-switch svg {
    fill: var(--cbutton-bg);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}




p {
    color: #666;
}

body {
    margin: 0;
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 1rem;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

.nav-links li a:hover,
.nav-links li a.active {
    color: #FF4C4C;
}

.nav-links li a.active::after,
.nav-links li a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #FF4C4C;
    transition: width 0.3s ease-in-out;
}

.nav-buttons .btn {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 20px;
    color: #fff;
    font-size: 16px;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.nav-buttons .btn:hover {
    background: #FF4C4C;
    border-color: #FF4C4C;
    transform: scale(1.05);
}

header {
    background-color: #333;
    color: #fff;
    padding: 16;
    text-align: center;
}

.ordersList {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    background-color: var(--box-bg-color);
    margin: 25px auto;
    width: 75%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.order {
    display: flex;
    align-items: center;
    border: 2px solid var(--border-color);
    padding: 25px;
    border-radius: 10px;
    background-color: var(--inner-color);
}

.order img {
    max-width: 150px;
    margin-right: 25px;
}

.orderInfo {
    flex: 1;
}

h2 {
    font-size: 24px;
    color: var(--text-color);
}

p {
    font-size: 16px;
    color: var(--text-color);
}

label {
    font-size: 16px;
    color: var(--text-color);
    margin-right: 10px;
}

select {
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid ;
}
#loginButton {
    background-color: #2b2a2a;
    color: white;
    border: 2px solid #000000;
    transition: all 0.3s ease-in-out;
}

