.darkmode {
    --base-color: #111111;
    --base-variant: #232323;
    --text-color: whitesmoke;
    --secondary-text: #e8e9ed;
    --primary-color: #f4efef;
    --accent-color: #ff4747;
    --nav-link-color: white;
    --footer-color: #232323;
    --eachOCar-color: #303030;
    --border-color: white;
    --cbutton-bg: white;
}


:root {
    --base-color: #ffffff;
    --base-variant: #e8e9ed;
    --text-color: #111111;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #ff4747;
    --nav-link-color: white;
    --footer-color: #e8e9ed;
    --eachOCar-color: #dbdbdb;
    --border-color: black;
    --cbutton-bg: black;
}

button {
    border: none;
    padding: .6em 2em;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.cta-button {
    background-color: var(--accent-color);
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20%;
    transform: translateY(-50%);
}


#theme-switch svg {
    fill: var(--cbutton-bg);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--base-color);
    color: var(--text-color);
}

p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

.homepageDiv {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 1rem;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    color: var(--nav-link-color);
}

.nav-links li a:hover,
.nav-links li a.active {
    color: #FF4C4C;
}

.nav-links li a.active::after,
.nav-links li a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #FF4C4C;
    transition: width 0.3s ease-in-out;
}

.nav-buttons .btn {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 20px;
    color: #fff;
    font-size: 1rem;
    margin-left: 0px;
    margin-right: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background: transparent;
}

.nav-buttons .btn:hover {
    background: #FF4C4C;
    border-color: #FF4C4C;
    transform: scale(1.05);
}

.nav-buttons{
    display: flex;

}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.orderStatus {
    padding: 25px;
    background-color: var(--base-variant);
    margin: 25px auto;
    width: 75%;
    border-radius: 10px;
    text-align: center;
}

.orderStatus h2 {
    color: var(--text-color);
    font-size: 25px;
}

.orderStatus label {
    color: var(--text-color);
    font-size: 16px;
    margin-right: 10px;
}

.orderStatus select {
    font-size: 15px;
    padding: 5px;
    border: 2px solid ;
    border-radius: 5px;
}

.orderedCars {
    display: flex;
    flex-direction: column;
    background-color: var(--base-variant);
    gap: 25px;
    padding: 25px;
    margin: 25px auto;
    width: 75%;
    border-radius: 10px;
}

.eachOrderedCar {
    display: flex;
    align-items: center;
    background-color: var(--eachOCar-color);
    padding: 25px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

.eachOrderedCar img {
    margin-right: 25px;
    max-width: 150px;
}

.eachOrderedCarInfo {
    flex: 1;
}

button {
    padding: 10px;
}

.removeOrderButton{
    background-color: #FF4C4C;
    color: white;
    transition: 0.3s ease;
}
.removeOrderButton:hover{
    background-color: #FF4C4C;
    transform: scale(1.05);
}

footer {
    background: linear-gradient(to bottom, #111111, black);
    color: white;
    padding: 50px 20px;
    font-family: 'Arial', 'sans-serif';
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

.footer-left{
    position: absolute;
    left: 0;
}

.footer-left ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-left ul img{
    padding-top: 20px;
    margin-left: 20px;
}

.footer-left ul li {
    margin-bottom: 16px;
}

.footer-center{
    text-align: center;
}

.footer-center h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.footer-center p {
    font-size: 16px;
    color: grey;
}

.footer-right{
    position: absolute;
    right: 0;
}

.footer-right p {
    margin: 8px 0;
    font-size: 18px;
    color: white;
    text-align: center;
}

