:root {
    --base-color: #f4f4f4;
    --base-variant: #e8e9ed;
    --text-color: #333;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #ff4747;
    --nav-link-color: white;
    --logout-button: #fff;
    --cbutton-bg: black;
    --border-color: #ccc;
}


.darkmode {
    --base-color: #222020;
    --base-variant: #3d3d40;
    --text-color: #1c2145;
    --secondary-text: #a4a5b8;
    --primary-color: #f1f1f3;
    --accent-color: #ff4747;
    --nav-link-color: white;
    --logout-button: #fff;
    --cbutton-bg: white;
    --border-color: #555;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--base-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    padding: .8em 2em;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.cta-button {
    background-color: var(--accent-color);
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 17%;
    transform: translateY(-50%);
}


#theme-switch svg {
    fill: var(--cbutton-bg);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}



/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 1rem;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    color: var(--nav-link-color);
}

.nav-links li a:hover,
.nav-links li a.active {
    color: #FF4C4C;
}

.nav-links li a.active::after,
.nav-links li a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #FF4C4C;
    transition: width 0.3s ease-in-out;
}

.nav-buttons .btn {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 20px;
    color: #fff;
    font-size: 1rem;
    margin-left: 0px;
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background: transparent;
}

.nav-buttons .btn:hover {
    background: #FF4C4C;
    border-color: #FF4C4C;
    transform: scale(1.05);
}

.nav-buttons{
    display: flex;

}



/* Products List Admin Page */
.products-list-admin-container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background: var(--base-color);
    align-items: center;
    justify-content: center;
}

.products-list-admin-container h1 {
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
}

.products-info {
    display: flex;
    flex-direction: column;

}

.items {
    flex: 75%
}

.box {
    display: flex;
    align-items: center;
    background: var(--base-color);
    padding: 15px;
    border: solid;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.6s ease;
    margin-bottom: 15px;
}

.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;

    .edit-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.search-bar {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.search {
    color: var(--text-color);

    width: 100%;
    background-color: var(--search-bg);

    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    font-family: 'Gill Sans MT', serif;
    font-size: 1rem;
    transition: border-color 0.3s ease-in-out;
}
.search::placeholder {
    color: var(--text-color);
}

.box:hover {
    transform: scale(1.02);
}

.box img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    padding-right: 15px;
}

.products-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.products-content p {
    font-weight: bold;
    margin-bottom: 10px;
}

.edit-button {
    border: none;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: #FF4C4C;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s ease;
    width: 150px;
}

.edit-button:hover {
    background-color: #FF4C4C;
    color: white;
    transform: scale(1.05);
}

.delete-button {
    border: none;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: #FF4C4C;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s ease;
    width: 150px;
}

.delete-button:hover {
    background-color: #FF4C4C;
    color: white;
    transform: scale(1.05);
}
footer {
    background: linear-gradient(to bottom, #222020, black);
    color: white;
    padding: 50px 20px;
    font-family: 'Arial', 'sans-serif';
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

.footer-left{
    position: absolute;
    left: 0;
}

.footer-left ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-left ul img{
    padding-top: 20px;
    margin-left: 20px;
}

.footer-left ul li {
    margin-bottom: 16px;
}

.footer-center{
    text-align: center;
}

.footer-center h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-center p {
    font-size: 16px;
    color: grey;
}

.footer-right{
    position: absolute;
    right: 0;
}

.footer-right p {
    margin: 8px 0;
    font-size: 18px;
    text-align: center;
}

.listForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 25px;
}

.reset{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;

    button{
        font-size: 15px;
        color: white;
        background-color: var(--primary-color);
        border: solid;
        border-radius: 10px;
        padding: 7px;
    }

    button:hover{
        background-color: #FF4C4C;
        transition: all 0.3s ease-in-out;
    }
}

.myFilters {
    display: none;

    padding: 20px;
    border: 1px solid;
    border-color: var(--border-color);
    background-color: var(--primary-color);
    color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Arial', 'sans-serif';
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.myFilters h3 {
    margin-top: 0;
    text-align: center;
    color: var(--secondary-text);
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.myFilters label {
    display: block;
    margin-top: 10px;
    font-size: 120%;
    color: var(--text-color);
    font-family: 'Arial', 'sans-serif';
    padding-right: 30px;
    width: 100px;
}
.myFilters .userInput {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: -30px;
    margin-bottom: 10px;
    font-family: 'Arial', 'sans-serif';
}
.myFilters input[type="text"] {
    width: 50px;
}
.myFilters input[type="radio"],
.myFilters input[type="text"],
.myFilters input[type="checkbox"] {
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    border-color: var(--border-color);
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: 'Arial', 'sans-serif';

}
.myFilters .buttons {
    margin-top: 20px;
    align-items: center;
}
.myFilters .buttons button {
    margin: 0 10px;
    margin-left: 210px;
    margin-top: 2px;
}

/* Filter prep */
.filter {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.filter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    gap: 5px;
    ;
}

.filter li {
    padding: 0px;
    background-color: var(--primary-color);
    border-radius:20px;
}

.filter a {
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    color: white;
    text-align: center;
    border-right: solid;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-color: white;
    text-decoration: none;
    font-size: 25px;
    white-space: nowrap;
}

.filter a:hover {
    background-color: #FF4C4C;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
}



