
body{
    margin: 0;
}

/* Search bar prep */
.searchNav {
    width: auto;
    padding: 2%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    width: 300px;
    max-width: 700px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 60px;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    padding: 10px 20px;
}

.searchBar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: black;
}

.searchBar button {
    border: solid;
    border-color: red;
    border-radius: 30%;
    width: 30px;
    height: 30px;
}

.searchBar button:hover {
    opacity: 70%;
    color: red;
}

/* Filter prep */
.filter {
    width: auto;
    padding: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.filter li {
    display: inline;
    float: left;
}

.filter a {
    display: block;
    padding-left: 75px;
    padding-right: 75px;
    color: white;
    text-align: center;
    border-right: solid;
    border-left: solid;
    border-top: solid;
    border-color: white;
    text-decoration: none;
    font-size: 35px;
}

.filter a:hover {
    background-color: red;
    color: white;
}

/* Product grid placement */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: center;
}

.column {
    display: block;
    align-items: center;
    margin: 20px;
    padding: 0 10px;
    border: solid;
    border-color: black;
}

.column button{
    border: none;
    outline: solid;
    padding: 10px;
    color: white;
    background-color: red;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.column button:hover {
    opacity: 50%;
}
.column img {
    margin-top: 10px;
    vertical-align: middle;
    align-items: center;
}

.column, h1, p {
    text-align: center;
}
