:root {
    --base-color: #f4f4f4;
    --base-variant: #e8e9ed;
    --text-color: #333;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #ff4747;
    --nav-link-color: white;
    --logout-button: #fff;
}


.darkmode {
    --base-color: #222020;
    --base-variant: #3d3d40;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #f1f1f3;
    --accent-color: #ff4747;
    --nav-link-color: white;
    --logout-button: #fff;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--base-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    padding: .8em 2em;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.cta-button {
    background-color: var(--accent-color);
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 17%;
    transform: translateY(-50%);
}


#theme-switch svg {
    fill: var(--primary-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}



/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 1rem;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    color: var(--nav-link-color);
}

.nav-links li a:hover,
.nav-links li a.active {
    color: #FF4C4C;
}

.nav-links li a.active::after,
.nav-links li a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #FF4C4C;
    transition: width 0.3s ease-in-out;
}

.nav-buttons .btn {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 20px;
    color: #fff;
    font-size: 1rem;
    margin-left: 0px;
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background: transparent;
}

.nav-buttons .btn:hover {
    background: #FF4C4C;
    border-color: #FF4C4C;
    transform: scale(1.05);
}

.nav-buttons{
    display: flex;

}



/* Products List Admin Page */
.products-list-admin-container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background: var(--base-color);
}

.products-list-admin-container h1 {
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
}

.products-info {
    display: flex;
    flex-direction: column;

}

.items {
    flex: 75%
}

.box {
    display: flex;
    align-items: center;
    background: var(--base-color);
    padding: 15px;
    border: solid;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.6s ease;
    margin-bottom: 15px;
}

.box:hover {
    transform: scale(1.02);
}

.box img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    padding-right: 15px;
}

.products-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.products-content p {
    font-weight: bold;
    margin-bottom: 10px;
}

.edit-button {
    border: none;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: #FF4C4C;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s ease;
    width: 150px;
}

.edit-button:hover {
    background-color: #FF4C4C;
    color: white;
    transform: scale(1.05);
}

.delete-button {
    border: none;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: #FF4C4C;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s ease;
    width: 150px;
}

.delete-button:hover {
    background-color: #FF4C4C;
    color: white;
    transform: scale(1.05);
}


