:root {
    --base-color: #f4f4f4;
    --base-variant: #e8e9ed;
    --text-color: #333;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --nav-link-color: white;
    --border-color: #b0b0b0;
    --card-bg: whitesmoke;
    --list-bg: #fff;
    --list-text: #666;
    --h-color: black;
    --header-color: #e3e0e0;
}


.darkmode {
    --base-color: #111111;
    --base-variant: #232323;
    --text-color: whitesmoke;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --nav-link-color: white;
    --border-color: #555555;
    --card-bg: #232323;
    --list-bg: #fff;
    --list-text: grey;
    --h-color: whitesmoke;
    --header-color: #333;
}


button {
    border: none;
    padding: .6em 2em;
    background-color: black;
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.cta-button {
    background-color: var(--accent-color);
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 150px;
    transform: translateY(-50%);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


#theme-switch svg {
    fill: var(--primary-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}




p {
    color: #666;
}

body{
    margin: 0;
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 1rem;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

.nav-links li a:hover,
.nav-links li a.active {
    color: #FF4C4C;
}

.nav-links li a.active::after,
.nav-links li a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #FF4C4C;
    transition: width 0.3s ease-in-out;
}

.nav-buttons .btn {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 20px;
    color: #fff;
    font-size: 16px;
    margin-left: 0px;
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.nav-buttons .btn:hover {
    background: #FF4C4C;
    border-color: #FF4C4C;
    transform: scale(1.05);
}

.nav-buttons{
    display: flex;
}

 header {
    background-color: var(--header-color);
    color: whitesmoke;
    padding: 16px;
    text-align: center;
}

h1 {
    margin: 0;
    color: var(--h-color);
    text-align: center;
}

#noSavedCars{
    text-align: center;
}

main {
    padding: 32px;
}

.savedList {
    list-style: none;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: grey;
}

.savedList li {
    color: var(--list-text);
    background-color: var(--list-bg);
    margin-bottom: 20px;
    margin-right: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.savedList:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}


.savedList img {
    max-width: 100%;
    border-radius: 8px;
}

h2 {
    margin: 8px 0;
}

h1 {
    font-family: 'Arial', sans-serif;
}

.savedCar {
    display: flex;
    align-items: center;
    background-color: var();
    border-radius: 20px;
    margin-bottom: 15px;
    border: solid;
    transition: all 0.6s ease;
}
.savedCar:hover {
    transform: scale(1.02);
}

.savedCar img {
    max-width: 200px;
    border-radius: 8px;
    margin-right: 20px;
}

.savedCarDiv{
    background-color: var(--list-bg);
}

.carDetails {
    flex: 1;
}

.carDetails h2 {
    margin: 8px 0;
}

.carDetails p {
    color: #666;
}

.carDetails form{
    display: inline-block;
    padding-bottom: 10px;
}

.carDetails button {
    background-color: #FF4C4C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;

}

.carDetails button:hover {
    background-color: #FF1C1C;
}






